TP1/Tp1/Tp1/obj/Debug/
TP1/Tp1/Tp1/bin/Debug/
*.suo
TP1/Tp1/Tp1/Credentials.resx
TP1/Tp1/Tp1/Credentials.Designer.cs
TP1/Tp1/Tp1/bin/Debug/Tp1.vshost.exe
TP1/Tp1/Tp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP1/Tp1/Tp1/Credentials.resx
TP1/Tp1/Tp1/Credentials.Designer.cs