TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt
TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt
TP1/Tp1/.vs/Tp1/v14/.suo
TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt
TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt
TP1/Tp1/Tp1/obj/Debug/Tp1.pdb
TP1/Tp1/Tp1/obj/Debug/Tp1.exe
TP1/Tp1/Tp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP1/Tp1/Tp1/bin/Debug/Tp1.exe
TP1/Tp1/Tp1/obj/Debug/Tp1.csprojResolveAssemblyReference.cache
TP1/Tp1/Tp1/bin/Debug/Tp1.vshost.exe
TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt
TP1/Tp1/Tp1/obj/Debug/Tp1.csproj.FileListAbsolute.txt